/*
 * Project: css
 * File: /style.css
 * File Created: 2025-07-11, 12:28:20
 * Author: Wojciech Sobczak (wsobczak@gmail.com)
 * -----
 * Last Modified: 2025-07-24, 15:09:28
 * Modified By: Wojciech Sobczak (wsobczak@gmail.com)
 * -----
 * Copyright © 2021 - 2025 by vbert
 */

:root {
    --wfm-blue: #39d; /* #1999d5 */
    --wfm-navy: #25a; /* #055aa5 */
    --wfm-yellow: #fc0; /* #fdc406 */
    --wfm-gray: #555;
    --wfm-gray-light: #aaa;
    --wfm-gray-lighter: #ededed;
    --wfm-gray-dark: #222;
    --wfm-blue-rgb: 51, 153, 221;
    --wfm-navy-rgb: 34, 85, 170;
    --wfm-yellow-rgb: 255, 204, 0;
    --wfm-gray-rgb: 85, 85, 85;
    --wfm-gray-light-rgb: 170, 170, 170;
    --wfm-gray-lighter-rgb: 237, 237, 237;
    --wfm-gray-dark-rgb: 34, 34, 34;
}

body a {
    text-decoration: none;
    /* transition: all .4s; */
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    max-width: 1320px;
}

/* top-bar */
.top-bar {
    --top-bar-bg: var(--bs-white);
    --top-bar-color: var(--wfm-gray);
    --top-bar-highlight-color: var(--wfm-blue);
    height: 1.504rem;
    background-color: var(--top-bar-bg);
}

.top-bar .frequencies {
    justify-content: space-between;
    list-style-type: none;
}

.top-bar li {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    gap: .325rem;
    position: relative;
    padding: 0 .525rem;
    background-color: var(--top-bar-bg);
    color: var(--top-bar-color);
    font-size: .625rem;
    line-height: 1.504rem;
    text-transform: uppercase;
}

.top-bar i.bi {
    color: var(--top-bar-highlight-color);
    font-size: .75rem;
    font-weight: 900;
}

.top-bar .frequency {
    font-size: .675rem;
    font-weight: 900;
}

/* section header */
.section-header {
    position: relative;
    margin: calc(var(--bs-gutter-x) * .5) 0px calc(var(--bs-gutter-x) * .478) 0px;
    text-align: center;
    line-height: 1rem;
}

.section-header::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    background-color: var(--bs-border-color);
    z-index: -1;
}

.section-header * {
    display: inline-block;
    margin: auto;
    padding: .252rem .725rem;
    background: var(--bs-white);
    color: var(--wfm-navy);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section-header.bg-blue::before {
    background-color: var(--wfm-blue);
}

.section-header.bg-yellow::before {
    background-color: var(--wfm-yellow);
}

@media (max-width: 992px) {
    .section-header {
        margin: calc(var(--bs-gutter-x) * .35) 0px calc(var(--bs-gutter-x) * .35) 0px;
    }

    .section-header * {
        font-size: 1.1rem;
    }
}

.main-header {
    display: block;
    box-shadow: 0px 0px 5px rgba(var(--bs-black-rgb), 0.25);
}

@media (min-width: 1200px) {
    .main-header .row {
        padding-left: calc(var(--bs-gutter-x) + 150px);
    }
}

/* middle-bar */
@media (min-width: 1200px) {
    .main-header .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -23px;
        left: calc(-0.5 * var(--bs-gutter-x) - 150px);
        width: 166px;
        padding: .75rem calc(0.825 * var(--bs-gutter-x));
        background-color: var(--bs-white);
        z-index: 1999;
        transition: all .4s;
    }

    .main-header .navbar-brand img {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .main-header .navbar-brand img {
        height: 50px;
    }
}

.main-header .middle-bar {
    --middle-bar-bg: var(--bs-white);
    --middle-bar-color: var(--wfm-navy);
    --middle-bar-hover-bg: var(--wfm-yellow);
    --middle-bar-hover-color: var(--bs-black);
    --middle-bar-highlight-bg: var(--wfm-blue);
    --middle-bar-highlight-color: var(--bs-white);
    background-color: var(--middle-bar-bg);
    color: var(--middle-bar-color);
    text-transform: uppercase;
}

.main-header .middle-bar-nav {
    align-items: stretch;
    gap: .325rem;
    list-style: none;
}

.top-main-menu li {
    position: relative;
    padding-top: .525rem;
}

.top-main-menu li > a {
    display: inline-block;
    padding: .525rem .75rem;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .4s;
}

.top-main-menu li.active > a {
    background-color: var(--middle-bar-highlight-bg);
    color: var(--middle-bar-highlight-color);
}

.top-main-menu li > a:hover,
.top-main-menu li.active > a:hover {
    background-color: var(--middle-bar-hover-bg);
    color: var(--middle-bar-hover-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .4s;
}


.top-main-menu .has-submenu .dropdown-menu {
    transform: translate(0px, 46px) !important;
}

.main-header .bottom-bar {
    --bottom-bar-bg: var(--wfm-blue);
    --bottom-bar-color: var(--bs-white);
    --bottom-bar-hover-bg: var(--wfm-navy);
    --bottom-bar-hover-color: var(--bs-white);
    --bottom-bar-highlight-color: var(--wfm-yellow);
    border-bottom: 1px solid var(--wfm-blue);
    background-color: var(--bottom-bar-bg);
    color: var(--bottom-bar-color);
}
